.reviews_Container {
    height: inherit;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.client_Review {
    font-size: 20px;
    font-weight: 600;
    color: #000000;
    margin-bottom: 25px;
}

.client_Info {
    font-size: 17px;
    color: #707070;
    margin: 7px auto;
}

@media screen and (max-width: 920px) {
    .client_Review {
        font-size: 19px;
        margin-bottom: 23px;
    }

    .client_Info {
        font-size: 16px;
        margin: 5px auto;
    }
}

@media screen and (max-width: 850px) {
    .client_Review {
        font-size: 18px;
        margin-bottom: 23px;
    }
}